// Specific CSS for your home-page
footer {
  position: absolute;
  bottom: 0;
  width: 100%
}

.city-name {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 1s ease;
  text-decoration: none !important;
}


.city-name:hover {
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
