<div class="container">
  <p>Here are your flats</p>
  <div class="container">
    <ul>
      <% @flats.each do |flat| %>
      <li>
      <%= link_to flat.address, flat_path(flat)%>
      </li>
      <% end %>
    </ul>
  </div>
</div>
