<div class="container  ">
  <h2 >Here are your flats</h2>
  <div class="container justify-content-center align-items-center vh-50">
    <ol class="list-group">
      <% @flats.each do |flat| %>
      <li >
      <%= link_to flat.address, flat_path(flat)%>
      </li>
      <% end %>
    </ol>
  </div>
</div>
