.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#0eb358, #0dab4c);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#000000, #000000);
  color: white;
}

.btn-btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#000000, #000000);
  transition: background 0.3s ease;
  border: 1px solid #000000;
}

.btn-flat:hover {
  background: linear-gradient(#000000, #000000);
  color: white;
}

.btn_red {

  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#b3240e, #ab100d);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  text-decoration: none;
  margin: 15px;
  padding-top: 5px;
  margin-top: 5px;


}


.btn{
  margin-top: 20px; /* ajustez la valeur selon vos besoins */
  position: relative;
}
