.user_flat_images {
  height: 400px;
  display: flex;
  background: no-repeat;
}

.back_images {
  background-image: asset-url('logo.png');
  background-size: fill;
  background-position: center;
  height: 200px;
  background:  no-repeat;

}
