
.index-container {
  background-color: #f2f2f2;
  padding: 20px;
}

.list-of-flats {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.grid-list {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid-list li {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cards {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 1300px;
  height: 300px;
  background-image: #{cl_image_path};



}
