.user_flat_images {
  display: flex;
  background: no-repeat;
  height: 400px;
  width: 500px;
}

.back_images {
  background-image: asset-url('logo.png');
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: cover;
}
