
.index-container {
  background-color: #f2f2f2;
  padding: 20px 0px 0px 20px;
  display: flex;
}

.column {
  flex-basis: 50%;
  box-sizing: border-box;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: fit-content;
  margin-right: 10px;
  flex-grow: 1;
}

.grid-list li {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  //margin-bottom: -500px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container #map {
  //height: 100vh;
  //width: 40vw;
  //padding-left: 25px;
}

#map {
  position: sticky;
  top: 70px;
  height: 90vh;
  padding-left: 25px;
}
