.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-expand-sm .navbar-collapse {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-style: double;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

}

.navbar-nav {
  align-items:center;
}
